html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
<<<<<<< HEAD:bob.css
  box-sizing: initial;
=======
  box-sizing: content-box;
>>>>>>> make2:new.css
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #05070f;
  color: #dbe4ff;
  overflow-x: hidden;
  position: relative;
}